<!-- <ng-container>
  ng container example
</ng-container> -->
<table>
  <tbody>
    <ng-container *ngFor="let book of books">
      <tr *ngIf="book.id>1">
        <td>{{book.name}}</td>

      </tr>
    </ng-container>
  </tbody>
</table>
<br><br><br>


<ng-container *ngIf="display">
  <div *ngFor="let book of books">
    {{book.id}}--{{book.name}}--{{book.price}}

  </div>
</ng-container>
<br><br><br>


<div>
  <span *ngIf="error">{{msg}}</span>
</div>
<div>
  <ng-container *ngIf="error">{{msg}}</ng-container>
</div>
<br><br><br>

<ul>
  <ng-container *ngFor="let book of books">
    <li *ngIf="display">
      {{book.id}}--{{book.name}}
    </li>
  </ng-container>
</ul>
<br><br><br>

<ng-container *ngTemplateOutlet="template ; context:obj">
</ng-container>
  <ng-template #template let-ob="data">
hello
{{ob}}
  </ng-template>
